[mysqld]
log-bin=mysql-bin  #二进制log
server-id=2  #server id
replicate-do-db=liting  #需要同步的数据库名。如果不指明同步哪些库，就去掉这行，表示所有库的同步（除了ignore忽略的库）。
replicate-ignore-db=mysql  #不同步test数据库
slave-skip-errors = all   #跳过所有的错误，继续执行复制操作
#单同步某库某表
replicate-do-db = mysqldb                    #单同步msyqldb库
replicate-wild-do-table = mysqldb.db       #当只同步几个或少数表时，可以这样设置。注意这要跟上面的库指定配合使用；
replicate-do-db = mysqldb1
replicate-wild-do-table = mysqldb2.db      #如果同步的库的表比较多时，就不能这样一一指定了，就把这个选项配置去掉，直接根据指定的库进行同步。
